.flash-cards a:hover{
  text-decoration: none !important;
}
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
  opacity: 0.96;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
  box-shadow: 0 2px 20px 10px rgba(0,0,0,.08);
  border-radius: 15px !important;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.6s !important;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px !important;
}

.flip-card-front {
    background-color: #0078ff;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     padding: 10px;
}
.flip-card-back {
    background: #FFD740;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 10px;
}
.flash-cards{
    margin: auto;
    font-size: 35px;
    padding-top: 70px;
    color: white;
    z-index: 10;
    position: relative;
}
.flash-cards .flip-card {
  margin-top: 30px;
}
hr{
  background: #FFD740;
  height: 7px !important;
  border: none !important;
  transform: skewX(-25deg);
  border-radius: 2px;
  margin-bottom: 50px !important;
}
/*SUBTITLE*/
.subtitle_left{
  width: 70%;
  background: #201c29;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 15px;
  border-radius: 25px;
  z-index: -2;
  left: -420px;
  transform: skewX(-15deg);
}
.subtitle_left span{
  transform: skewX(15deg);
}
.subtitle_right{
  width: 50%;
  background: #201c29;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 15px;
  margin-bottom: 300px;
  border-radius: 25px;
  z-index: 60;
  top: 250px;
  left: 800px;
  transform: skewX(-15deg);
  font-size: 40px;
}
.subtitle_right span {
  transform: skewX(15deg);
}
.subtitle_right span a{
  color: white !important;
}
.subtitle_right span a:hover{
  text-decoration: none !important;
}
@media screen and (max-width: 1366px) {
  .subtitle_left{
    left: -310px;
    width: 80%;
  }
  }
@media screen and (max-width: 576px) {
  .subtitle_left{
    left: -130px;
    width: 180%;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 35px;
  }
  .subtitle_right{
    width: 90% !important;
    left: 90px;
    font-size: 26px !important;
    z-index: 10;
  }
  }
  @media screen and (max-width: 375px) {
    .subtitle_left{
      left: -120px;
      width: 180%;
      justify-content: flex-end;
      padding-right: 30px;
      font-size: 25px;
    }
    .subtitle_right{
      width: 90% !important;
      left: 80px;
      font-size: 26px !important;
      z-index: 10;
    }
    }
/*KITS*/
.kit::before{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-200deg,rgba(32, 28, 41, .01), white 50%);
  border-radius: 12px;
  z-index: -1;
  opacity: 0;
}
.kit:hover::before {
  opacity: 1;
}

.kit{
  height: 100px;
  width: 400px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: transparent;
  position: relative;
  padding: 0;
  color: black;
  box-shadow: 0 2px 20px 10px rgba(0,0,0,.07);
  font-size: 60px;
  opacity: 0.96;
}
@media screen and (max-width: 576px) {
  .kit{
    font-size: 40px !important;
  }
  }  
.kits{
  margin-bottom: 50px;
}
.kits .col-md-4{
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.kits a:hover{
  text-decoration: none;
}
.kit:hover{
  background-color: transparent !important;
  color: white !important;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.kit:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #0078ff 50%, white 50%);
  z-index: -1;
  border-radius: 12px;
}
.kit > span,
.kit:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1.5s, font-size 0.2s;
}
.kit:hover > span,
.kit:hover:after {
  background-position: 0;
}
/*FILTER*/
.show_filter{
  background-color: #2bd283;
  width: 55px;
  height: 56px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  left: -10px;
  top: 150px;
  transform: skewX(-15deg);
  transition-duration: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 20;
}
.show_filter .fas{
  color: white !important;
  font-size: 25px !important;
}
.show_filterHover:hover .fas{
transform: scale(1.2);
}
.show_filterHover:hover{
background-color: #FFD740;
width: 80px;
transition-duration: 250ms;
box-shadow: 0 2px 20px 10px rgba(0,0,0,.08);
}
.filter{
position: fixed;
left: -50px;
top: 230px;
width: 15%;
padding: 10px;
padding-left: 15px;
display: flex;
visibility: none;
opacity: 0;
color: white;
font-size: 20px;
background: #201c29;
border-bottom-right-radius: 25px;
border-top-right-radius: 25px;
z-index: 50;
}

.filter form{
width: 100%;
}
.filter2{
display: flex;
justify-content: space-between;
color: white;
font-size:17px;
width: 100%;
}
.filter2 label{
width: 30%;
color: white;
}
.filter input[type=checkbox] {
display: none;
}
.filter input[type=checkbox] + label:before{
content: "\2714";
display: flex !important;
justify-content: center;
border: 0.1em solid white;
border-radius: 0.2em;
display: inline-block;
width: 1.5em;
height: 1.4em;
padding-bottom: 1.4em !important;
margin-right: 0.2em;
vertical-align: bottom;
color: transparent;
transition: .2s;
}
.filter input[type=checkbox] + label {
cursor: pointer;
}
.filter input[type=checkbox] + label:active:before {
transform: scale(0.5);
}

.filter input[type=checkbox]:checked + label:before {
background-color: #FFD740;
border-color: #FFD740;
color: #fff;
}
/*możliwe że do wywalenia*/
.filter input[type=checkbox]:disabled + label:before {
transform: scale(1);
border-color: #aaa;
}

.filter input[type=checkbox]:checked:disabled + label:before {
transform: scale(1);
background-color: #bfb;
border-color: #bfb;
}
.btn-warning{
background: #FFD740 !important;
border: #FFD740  !important;
border-radius: 25px !important;
width: 150px;
color: white !important;
}
@media screen and (max-width: 576px) {
.filter {
  top: 200px !important;
  left: 82px !important;
  width: 100%;
  background: #201c29;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
}
.filter label{
  font-size: 17px !important;
}
.filter label:before{
  position: relative;
  left: -10px;
}
}
@media screen and (max-width: 360px) {
  .filter{
    left: 72px !important;
}
}
.splash{
  background-image: url("../png/splash2.png");
  z-index: -1;
  display: block;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*DODAWANIE ZESTAWÓW*/

.add_kitButton{
  background: #0078ff;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 12px;
  top: 470px;
  z-index: 50;
}
.add_kitButton:hover{
  animation: pulseBlue 2s ease;
  cursor: pointer;
}
.add_kitButton .fas{
  color: white;
  font-size: 25px !important;
}
.add_kitForm{
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  background-color: #201c29; 
  color: white;
  z-index: 101;
  transform: skewX(0deg);
  transition: 250ms;
  border-radius: 25px;
  opacity: 1 !important;
  display: none;
} 
#formScroll{
  max-height: 70%;
  overflow-y: auto;
  padding: 20px;
  margin-bottom: 15px;
}
.add_kitForm .filter2 label{
  width: 5% !important;
}
.add_cards .choiceTopic>label{
  height: 37px;
  width: 15%;
}
.add_cards select{
  outline: none;
  border-radius: 15px;
  padding: 5px;
  border: 2px solid #282333;
  height: 45px;
  width: 75%;
}
.add_cards select option{
  padding: 5px;
}
#choiceTopic{
  display: flex;
  justify-content: space-between;
}
#choiceTopic option:first-child{
  font-weight: bold;
}
.add_kitForm hr{
  background: #0078ff;
}
#addSection{
  width: 90%;
  display: flex;
}
#DivnumberOfcards{
  width: 30%;
  display: flex;
}
#addButton{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  position: absolute;
  right: 3%;
  text-align: center;
}
#addButton .add_kitButton{
  position: unset;
}

 @media screen and (max-width: 1440px) {
  .add_kitForm{
    height: 580px !important;
  }
}
.add_kitFormShow{
  display: block !important;
  transition: 250ms;
}
.add_kitForm form{
  height: 100%;
}
.add_cards .form-control{
  width: 100%;
}
.add_cards #sectionTranslaction>.card_name{
  display: flex;
  justify-content: space-between;
}
.add_cards .translaction{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.add_kitForm .btn-outline-light{
  width: 100%;
  position: relative;
  top: -15px;
}
#kitButtons{
  position:absolute;
  width:97%;
  bottom:0px;
}
@media screen and (max-width: 576px) {
  .add_kitForm{
    left: 0px !important;
    top: 15% !important;
    font-size: 10px !important;
    height: 550px !important;
  }
  .add_kitForm form{
    padding: 5px !important;
  }
  .add_kitForm .btn-outline-light{
    top: -5px !important;
  }
  #siec{
    display: none;
  }
  .add_cards .add_kitButton{
    right: -10px !important;
    top: 20px !important;
    transform: scale(0.7);
  }
  .add_cards ul{
    margin: 10px !important;
    padding: 0px !important;
    margin-right: 20px !important;
  }
  .add_cards label:before{
    width: 25px !important;
    height: 20px !important;
  }
  .add_cards .filter2{
    font-size: 15px !important;
  }
  .card_name:nth-child(3){
    margin-left: 15px !important;
  }
  }
@media screen and (max-width: 360px) {
  .add_kitForm{
    top: 8% !important;
  }
}